@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.bill{
    .select{
        height: 120px;
        background:$font-white;
        color:$color-base;
        .menu{
            text-align: center;
            padding:7px 0;
        }
        .active{
            padding-bottom: 10px;
            color:#fb9c04;
            border-bottom: 0.1rem solid #fb9c04;
        }
    }
    .gray{
        height: 20px;
        background:#efefef;
    }
    .red{
        color:$font-red;
    }
    .main-container{
        background: #fff;
    }
    .time{
        padding:20px 20px !important;
        background: #fff;
    }
    .relist{
        border-bottom:0.01rem solid $border-line;
        padding:25px 0;
        .text-left{
            text-align: left;
        }
        .text-right{
            text-align: right;
        }
    }
    .table{
        height: auto;
        overflow: hidden;
        padding:20px 0;
        .tb{
            height: auto;
            overflow: hidden;
            font-size:24px;
        }
        .remarks{
            color:$font-blue;
        }
        .bool{
            font-weight: bold;
            font-size:32px;
        }
        .RechargeCode{
            height: auto;
            overflow: hidden;
        }
    }
}