@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.bill{
    .select{
        height: 120px;
        background:$color-base;
        color:$font-white;
        .menu{
            text-align: center;
            padding:7px 0;
        }
        .active{
            padding-bottom: 10px;
            border-bottom: 0.01rem solid $color-active;
        }
    }
    .time{
        padding:0 20px !important;
    }
    .relist{
        border-bottom:0.01rem solid $border-line;
        padding:25px 0;
        .text-left{
            text-align: left;
        }
        .text-right{
            text-align: right;
        }
    }
    .table{
        height: auto;
        overflow: hidden;
        padding:10px 0;
        .tb{
            height: auto;
            overflow: hidden;
        }
        .RechargeCode{
            height: auto;
            overflow: hidden;
        }
    }
}