@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.btob{
    .pb{
        padding:10px 0;
    }
    .text,.price{
        white-space:normal;
        word-break:break-all;
        word-wrap:break-word; 
    }
    .text-right{
        text-align: center;
    }
}