@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.btob{
    .pb{
        padding:10px 0;
    }
    .selectad{
        display: flex;
        justify-content: space-between;
    }
    .title{
        font-size:26px;
        font-weight: bold;
    }
    .bdc{
        font-size:32px;
    }
    .select{
        width: 200px;
    }
    .text,.price{
        white-space:normal;
        word-break:break-all;
        word-wrap:break-word; 
    }
    .text-right{
        text-align: center;
    }
    input{ 
        font-size:24px;
    }
    .lable{
        font-size:24px;
    }
    .copy{
        background:#52c3af;
        text-align: center;
        color:$font-white;
        border-radius: 10px;
    }
    .select_day{
        display: flex;
        justify-content: space-between;
        padding:20px 0;
        margin-top:20px;
        border-top:solid $border-line 0.01rem;
    }
    
    .get-last-dt{
        margin-top:20px;
        border-top:0.01rem solid $border-line;
        .title{
            font-size:32px;
            font-weight: bold;
            color:$font-orange;
        }
        .div{
            font-size:28px;
            height: 60px;
            .div-left{
    
            }
            .div-right{
                text-align: right;
                .btn{
                    float: right;
                }
            }
        }
    }
}