@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.expectinfo{
    .exp-grid-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size:28px;
        color:$font-base;
        .bd{
            width: 100%;
        }
        .hl{
            color:$font-baseh2;
            font-size:20px;
        }
        .hot{
            color:$font-red;
            margin-left:40px;
        }
        .bar_jd{
            background:$bg-disabled;
            width: 80%; 
            height: 30px;
            border-radius: 20px;
        }
        .bar_jds{
            background:$color-base;
            border-radius: 20px;
            width: 80%;
            height: 30px;
            color:$font-white;
        }
    }
}