@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.discovery{
    .topmenu{
        margin-top:50px;
        .iconfont,.top-menu{
            display: block;
            text-align: center;
            color:$color-base;
        }
        .iconfont{
            font-size:54px;
        }
        .top-menu{
            font-size:24px;
        }
        .weui-grids {
            background-color: #FFF;
        }
        .close{
            .iconfont,.top-menu{
                color:#c5c5c5;
            }
        }
    }
    .panel{
        margin-top:20px;
    }
    .dis-grid{
        margin-top:10px;
        height: auto;
        overflow: hidden;
        .dis-grid-img{
            img{
                width: 170px;
                height: 100px;
            }
        }
        .dis-grid-content{
            .content{
                padding:10px;
                color:$font-baseh2;
            }
            .title{
                color:$font-base;
            }
        }
    }
    
    
}