@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.discovery{
    .topmenu{
        margin-top:50px;
        .iconfont,.top-menu{
            display: block;
            text-align: center;
            color:$color-base;
        }
        .iconfont{
            font-size:54px;
        }
        .top-menu{
            font-size:24px;
        }
        .weui-grids {
            background-color: #FFF;
        }
        .close{
            .iconfont,.top-menu{
                color:#c5c5c5;
            }
        }
    }
    .panel{
        margin-top:20px;
    }
    .dis-grid{
        margin-top:10px;
        height: auto;
        overflow: hidden;
        .dis-grid-img{
            img{
                width: 170px;
                height: 100px;
            }
        }
        .dis-grid-content{
            .content{
                padding:10px;
                color:$font-baseh2;
            }
            .title{
                color:$font-base;
            }
        }
    }
    
    .rabklist{
        border:0.02rem solid $border-line;
        .rank{
            padding:10px;
            display: flex;
            justify-content:space-between;
            border-bottom:0.02rem solid $border-line;
            height: 100px;
            line-height: 80px;
            font-size:32px;
            &:last-child{
                border-bottom:none;
            }
            .total{
                text-align: center;
                width: 200px;
            }
            .nickname{
                width: 400px;
                text-align: left;
            }
            .lv-1{
                color:rgb(255, 186, 0);
            }
            .lv-2{
                color:rgb(169, 172, 175);
            }
            .lv-3{
                color:rgb(232, 161, 82);;
            }
            .ranking{
                width: 50px;
                .sicon{
                    width:50px;
                    height:50px;
                    margin-bottom: 15px;
                }
            }
        }
        
    }
}