@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
@import "../../base/spanTag";
.sbank{
    padding: 0.133333rem 0.2rem;
    display: flex;
    position: relative;
    .title{
        width: 3rem;
        font-size:0.45rem;
    }
    .title-psw{
        width: 2.2rem;
        font-size:0.45rem;
    }
    .psw{
        display: flex;
        font-size:0.45rem;
        .iconfont{
            position: absolute;
            right:0;
        }
    }
}
.myOrder{
    .date-line{
        width: 250px;
        margin:0 auto;
    }
    .order{
        &-line{
            border-bottom: 0.01rem solid $border-line;
            padding-bottom: 20px;
        }
        &-pay{
            display: flex;
        }
        &-information{
            flex: 1;
        }
        &-svg{
            flex: 1;
            text-align: right;
            .sicon{
                width: 120px;
                height: 120px;
            }
        }
        &-remark{
            font-size:26px;
        }
    }
    .tips{
        color:$font-red;
        margin-top:10px;
        font-size:26px;
        text-align: center;
    }
}