@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
$height : 1.5rem;
.information{
    display: flex;
    justify-content:space-between;
    .left{
        .price,.tax{
            font-size:32px;
            color:$font-orange;
        }
        .tax{
            color:$font-red;
        }
        .payment{
            i{
                font-size:60px;
            }
            .alipay{
                color:#1296db;
            }
            .cardpay{
                color:#028BF4;
            }
            .wechart{
                color:#1eb1ad;
            }
        }
    }
    .right{
        width: 300px;
        .mr{
            width: 180px;
            height: 180px;
            margin:0 auto;
            text-align: center;
        }
        .sicon{
            width: 180px;
            height: 180px;
        }
        .tradeinfo{
            margin-top:20px;
            font-size:28px;
            text-align: center;
        }
    }
}
.gobuy{
    border:0.02rem solid $bg-border;
    border-radius: 30px;
    padding:20px;
    .font-24{
        font-size:26px;
    }
}
.close{
    margin-top:40px;
}
.right-btn{
    font-size:28px;
    .unit{
        color:#000;
    }
    .cut{
        display: inline-block;
        width: 20px;
        text-align: center;
    }
    .full{
        color:$font-blue;
    }
}
.popup{
    .pay-info{
        padding:20px 0;
        height: auto;
        overflow: hidden;
        .ercode{
            font-size:32px;
            min-height: 800px;
            text-align: center;
            .pay-img{
                width: 400px;
            }
            .btn{
                margin:0 auto;
            }
        }
        .card{
            padding:0 30px;
            .font{
                font-size:32px;
                display: flex;
                flex: 1 1 2;
                height: 60px;
                &-title{
                    width: 180px;
                }
                &-btn{
                    padding:10px 0;
                    // margin-left:18px;
                    margin-left:auto;
                }
            }
        }
        .padding-bottom{
            margin-bottom: 400px;
        }
    }
}
.sbank{
    padding: 0.133333rem 0.2rem;
    display: flex;
    .title{
        width: 3rem;
        font-size:0.45rem;
    }
}
.selectbox{
    height: 400px;
    background: $bg-white;
    .radio{
        width: 100%;
        height: auto;
        overflow: hidden;
        .radio-lable{
            display: block;
            clear: both;
            height: $height;
            line-height: $height;
            border-bottom: 0.01rem solid $border-line;
            .cell{
                float: left;
                width: 90%;
                height: $height;
                line-height: $height;
                display: flex;
                padding: 0 40px 0 40px;
                justify-content: space-between;
                .text{
                    width: 180px;
                    text-align: center;
                }
            }
        }
        .bind{
            text-align: center;
            margin-top:150px;
            color: #028BF4;
        }
    }
}