@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.information{
    display: flex;
    justify-content:space-between;
    .left{
        .price{
            font-size:32px;
            color:$font-orange;
        }
        .payment{
            i{
                font-size:60px;
            }
            .alipay{
                color:#1296db;
            }
            .cardpay{
                color:#028BF4;
            }
            .wechart{
                color:#1eb1ad;
            }
        }
    }
    .right{
        width: 300px;
        .mr{
            width: 180px;
            height: 180px;
            margin:0 auto;
            text-align: center;
        }
        .sicon{
            width: 180px;
            height: 180px;
        }
        .tradeinfo{
            margin-top:20px;
            font-size:28px;
            text-align: center;
        }
    }
}
.gobuy{
    border:0.02rem solid $bg-border;
    border-radius: 30px;
    padding:20px;
}
.close{
    width: 240px;
    margin:0 auto;
    margin-top:40px;
}
.right-btn{
    .unit{
        color:#000;
    }
    .cut{
        display: inline-block;
        width: 20px;
        text-align: center;
    }
    .full{
        color:$font-blue;
    }
}