@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
@import "../../base/spanTag";
.coomplaiont{
    .line{
        border-bottom: 0.01rem solid $border-line;
        padding:10px 0;
    }
    .title{
        font-size:42px;
        font-weight: bold;
    }
    .ts{
        font-size:32px;
        color:$font-blue;
        // &-time{
        //     color:$font-blue;
        // }
        // &-sh{
        //     color:$font-blue;
        // }
        // &-status{
        //     color:$font-blue;
        // }
    }
    .remarks,.auditremarks{
        font-size:32px;
    }
    .img-list{
        display: flex;
        justify-content: space-between;
        img{
            width: 200px;
            height: 200px;
        }
    }
}