@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.recharge{
    .select{
        background:$color-base;
        text-align: center;
        color:$font-white;
        font-size:30px;
        .menu{
            padding:7px 0;
        }
        .active{
            padding-bottom: 7px;
            border-bottom: 4px solid $color-active;
        }
    }
    .tel{ 
        height: 80px;
    }
    .secrechar{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        .sel_div{
             border:0.01rem solid $border-line;
             color:$font-base;
             margin:10px;
             padding:10px;
             width: 180px;
             position: relative;
             i{
                 position: absolute;
                 right: 0;
                 bottom: -10px;
                 color:$color-select;
             }
        }
        .current{
            border:0.01rem solid $color-select;
        }
    }
}