@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.withdrawal{
    .earning{
        padding-bottom:10px;
        .center{
            text-align: center;
        }
        .font i{
            font-size:50px;
        }
        .myearnings{
            color:$font-red;
        }
    }
    .sbank{
        display: flex;
        justify-content: start;
        padding: 15px 0;
        .bank{
            width:210px;
            margin-left:15px;
            font-size:0.45rem;
            line-height: 1rem;
        }
    }
    .query{
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border:0.02rem solid $color-base;
        // width: 250px;
        width: 140px;
        margin:0 auto;
        overflow: hidden;
        .select{
            width:150px;
            text-align: center;
            font-size:28px;
        }
        .act{
            background: $color-base;
            color:$font-white;
        }
    }
    .table{
        width: 100%;
        th{
            background: $color-base;
            color: $font-white;
        }
        td{
            text-align: center;
        }
        .height{
            height: 20px;
            padding: 15px 0;
        }
        .red{
            color:$font-red;
        }
        .green{
            color:$font-green;
        }
    }
    .tips{
        color:$font-red;
        padding: 0 0.2rem;
        .space{
            display: inline-block;
            width: 120px;
            text-align-last:justify;
            // &:after{
            //     content:"";
            //     display:inline-block;
            //     width:100%;
            //     overflow: hidden;
            //     height: 0;
            //     margin: 0;
            // }
        }
    }
}