@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.area{
    .pb{
        padding:15px;
    }
    .up{
        height: 80px;
        line-height: 75px;
        font-size:32px;
    }
    .table{
        width: 100%;
        border-collapse:collapse;
        border: 0.01rem solid $border-line;
        th{
            border:$border-line 0.01rem solid;
            background:$bg-border;
        }
        td{
            border-bottom: 0.01rem solid $border-line;
            padding:15px 0;
            text-align: center;
        }
    }
    
    .thtitle{
        .ivu-table-cell{
            padding:0 5px !important;
            text-align: center;
            display: flex;
            justify-content: center;
        }
    }
    .earning{
        height: auto;
        overflow: hidden;
    }
    .center{
        text-align: center;
        height: 120px;
        .myearnings{
            text-align: center;
            text-justify: newspaper;
            word-break: break-all;
        }
    }
    .foot-botton{
        position: absolute;
        width: 96%;
        bottom: 0;
        left: 2%;
        right: 2%;
    }
    .btn-query{
        margin-top:4px !important;;
        height: 1rem;
        width: 100%;
        margin:0 auto;
    }
}