@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.area{
    .pb{
        padding:15px;
    }
    .up{
        height: 80px;
        line-height: 75px;
        font-size:32px;
    }
    .table{
        width: 100%;
        border-collapse:collapse;
        border: 0.01rem solid $border-line;
        th{
            border:$border-line 0.01rem solid;
            background:$bg-border;
        }
        td{
            border-bottom: 0.01rem solid $border-line;
            padding:15px 0;
            text-align: center;
        }
    }
    .ov{
        
    }
    // 树形结构图谱
    .family{
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        height: 750px;
        .root{
            width:1000px;
            display: block;
            height: auto;
            .childBlock{
                margin:10px auto;
                background:rgba(53,73,94,.7);
                border-radius: 15px;
                color:$font-white;
            }
        }
        .father{
            width:1000px;
            height: auto;
            overflow: hidden;
            .mr{
                width: 750px;
                height: auto;
                overflow: hidden;
            }
            .childBlock{
                float: left;
                background:rgba(53,73,94,.5);
                border-radius: 15px;
                color:$font-white;
            }
            .blank{
                width: 250px;
                height: 200px;
                float: left;
            }
        }
        .child{
            width:1000px;
            margin:0 auto;
            height: auto;
            overflow: hidden;
            .childBlock{
                float: left;
                background:rgba(53,73,94,.1);
            }
        }
    }
    .childRow{
        clear: both;
    }
    .mr{
        margin:0 auto;
    }
    .childBlock{
        width:240px;
        height: auto;
        margin:10px 5px;
        word-wrap: break-word;
        text-align: left;
    }
    .border{
        padding: 15px;
        border:0.02rem solid gray;
        border-radius: 15px;
    }
    .copy{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .btn-xs{
            width: 1rem;
        }
    }
}