.cardlist{
    .tips{
        .bindnum{
            color:$font-red;
        }
        font-size:24px;
    }
    .table{
        width: 100%;
        border-collapse:collapse;
        border: 0.01rem solid $border-line;
        th{
            border:$border-line 0.01rem solid;
            background:$bg-border;
        }
        td{
            border-bottom: 0.01rem solid $border-line;
            padding:15px 0;
            text-align: center;
        }
    }
}
.upimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    border-bottom: 0.01rem solid #eee;
    padding-bottom: 25px;
    .upload{
        width: 150px;
        height: 150px;
        position: relative;
        border:0.01rem solid $font-base;
        .label{
            position: relative;
            z-index:11;
            text-align: center;
            height: 100px;
            line-height: 100px;
        }
        .file{
            display: none;
            opacity: 0;
        }
        .zindex{
            position: absolute;
            z-index:1;
            left: 45px;
            top: 35px;
            i{
                font-size:50px;
            }
        }
    }
    .isimg{
        width:150px;
        height: 150px;
        margin-bottom: 20px;
        margin-left:20px;
    }
}
#payConfirm{
    text-align: center;
    font-size:32px;
    .w{
        // display: inline-block;
        // width: 200px;
        text-align: justify
    }
    .ercode{
        img{
            max-width: 100%;
        }
    }
}
.province{
    display: flex;
    justify-content: space-between;
    .wd{
        width: 300px;
    }
}
.sbank{
    padding: 0.133333rem 0.2rem;
    display: flex;
    .title{
        width: 3rem;
        font-size:0.45rem;
    }
}
.text-left{
    text-align: left !important;
}
.cardlist{
    .tips{
        .bindnum{
            color:$font-red;
        }
        font-size:24px;
    }
    .table{
        width: 100%;
        border-collapse:collapse;
        border: 0.01rem solid $border-line;
        th{
            border:$border-line 0.01rem solid;
            background:$bg-border;
        }
        td{
            border-bottom: 0.01rem solid $border-line;
            padding:15px 0;
            text-align: center;
        }
    }
}
.citytips{
    margin-top:10px;
    font-size:32px;
    color:$font-red;
}
.select{
    border: 0.02rem solid #dcdee2;
    background:#fff;
    border-radius: 5px;
    height: 1rem;
    font-size:30px;
}