@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.mine{
    .mine-top{
        height: 240px;
        background:$color-base;
        border-radius: 0 0px 20px 20px;
        position: relative;
        padding:20px 35px;
        .mine-top-menu{
            margin:0 auto;
            background:$bg-white;
            position: absolute;
            padding: 30px;
            width: 620px;
            bottom: -80px;
            z-index: 99999999;
            .mine-grid-content{
                font-size:28px;
                color:$font-base;
            }
            .avatar{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                font-size:90px;
                color:$font-base;
            }
        }
    }
    .cell-hei{
        height: 80px;
        font-size:40px;
        .iconfont{
            margin:0 15px;
        }
    }
}
