@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.mine{
    .mine-top{
        height: 240px;
        background:$color-base;
        border-radius: 0 0px 20px 20px;
        position: relative;
        padding:20px 15px;
        .mine-top-menu{
            margin:0 auto;
            background:$bg-white;
            position: absolute;
            padding: 30px;
            width: 720px;
            bottom: -80px;
            z-index: 9;
            .mine-grid-content{
                font-size:28px;
                color:$font-base;
            }
            .avatar{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                font-size:90px;
                color:$font-base;
            }
        }
        .earning{
            display: flex;
            flex-wrap: wrap;
            font-size:28px;
            color:$font-red;
            justify-content: center;
        }
    }
    .cell-hei{
        height: 80px;
        font-size:32px;
        .iconfont{
            margin:0 15px;
        }
        .authrel{
            font-size:24px;
            margin-right: 24px;
            color:$font-red;
        }
        .message{
            font-size:24px;
            margin-right: 24px;
            color:$font-white;
            background:$font-red;
            padding: 0px 10px;
            border-radius: 50%;
        }
    }
    .dis-grid-img{
        text-align: center;
        .nickname{
            font-size:28px;
            color:$font-blue;
        }
    }
    //.ParentName{margin-left: 180px;font-size:28px;}
}