@charset "utf-8";
@import "../../base/var";
.search{
    height: 70px;
    line-height: 70px;
    font-size: 35px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    background-color: #515a6e;
    border: 1px solid #515a6e;
    border-radius: 10px;
}
.table{
    width: 100%;
    border-collapse:collapse;
    border: 0.01rem solid $border-line;
    th{
        border:$border-line 0.01rem solid;
        background:$bg-border;
    }
    td{
        border-bottom: 0.01rem solid $border-line;
        padding:15px 0;
        text-align: center;
    }
    .w-0{

    }
    .w-1{
        
    }
    .w-2{
        width: 150px;
    }
    .w-3{
        width: 240px;
    }
    .edit{
        display: flex;
        justify-content: space-between;
    }
}