@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.changeassets{
    .assets{
        padding:0 15px;
        ul{
            li{
                height: 80px;
                font-size:28px;
                line-height: 80px;
                i{
                    height: 80px;
                    font-size:38px;
                    margin-right:20px;
                }
            }
        }
        .changelist{
            height: 80px;
            .changename{
                font-size:28px;
            }
            input{
                width: 100%;
                font-size:28px;
                border:none;
            }
            .rate{
                display: block;
            }
        }
        .change-rate{
            .rate{
                height: 80px;
                line-height: 80px;
                span{
                    display: inline-block;
                    width:125px; 
                    font-size:28px;
                    text-align: left;
                    margin-right: 70px;
                }
            }
        }
    }
    
}