@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.walletmain-top{
    height: 240px;
    background:$color-base;
    border-radius: 0 0px 20px 20px;
    position: relative;
    padding:20px 35px;
    .walletmain-top-menu{
        margin:0 auto;
        background:$bg-white;
        position: relative;
        overflow: visible;
        padding: 30px;
        width: 620px;
        bottom: -60px;
        .midel{
            text-align: center;
        }
        .walletmain-grid-content{
            font-size:28px;
            color:$font-base;
        }
        .avatar{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            font-size:90px;
            color:$font-base;
        }
    }
}