@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.notice{
    .systeamgg{
        padding:0 30px;
    }
    .time{
        color:$font-baseh2;
    }
    .title{
        color:$font-base;
    }
    .notice{
        width: 4rem;
        text-align: center;
        float: right;
    }
}