@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.walletmain-top{
    .ercode{
        margin:0 auto;
        width: 280px;
    }
    .center{
        display: flex;
        justify-content: center;
        span{
            background: $border-line;
            padding:2px 10px;
            border-radius: 20px;
            font-size:20px;
        }
        .copy{
            font-size:24px;
        }
    }
} 