@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.send{
    .label{
        float: left;
        margin-left: 15px;
    }
    .radio{
        float: left;
        margin-left: 25px;
    }
    /*二维码扫码控件*/
    #bcid{
        height: 50%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999999;
        background:rgba(0,0,0,.6);
    }
}