@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.send{
    .label{
        float: left;
        margin-left: 15px;
    }
    .send_label{
        clear: both;
        height: 70px;
        .label{
            font-size:0.45rem;
        }
    }
    .radio{
        float: left;
        margin-left: 25px;
    }
    .user_info{
        width: auto;
        display: inline;
        text-align: center;
        .nickname,.userid{
            display: inline-block;
            color:$font-base;
        }
        .nickname{
            font-size:36px;
        }
        .userid{
            font-size:24px;
        }
    }
    .scan{
        a{
            color:#ddd;
        }
    }
}