@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.send{
    .label{
        float: left;
        margin-left: 15px;
        width: 2.2rem;
    }
    .send_label{
        clear: both;
        height: 70px;
        .label{
            font-size:0.45rem;
        }
    }
    .radio{
        float: left;
    }
    .user_info{
        width: auto;
        display: inline;
        text-align: center;
        .nickname,.userid{
            display: inline-block;
            color:$font-base;
        }
        .nickname{
            font-size:36px;
        }
        .userid{
            font-size:24px;
        }
    }
    .text{
        clear: both;
        height:auto;
        overflow: hidden;
        width: 100%;
        .lable{
            font-size: 0.45rem;
            width: 2.2rem;
        }
        .iconscan{
            position: absolute;
            right: 0;
            i{
                font-size:52px;
            }
        }
        .content{
            width:6rem;
            textarea{
                width: 100%;
                border:none;
                font-size: 0.44rem !important;
            }
        }
    }
    .scan{
        a{
            color:#ddd;
        }
    }
    .sbank{
        padding: 0.133333rem 0.2rem;
        display: flex;
        position: relative;
        .title{
            width: 3rem;
            font-size:0.45rem;
        }
        .title-psw{
            width: 2.2rem;
            font-size:0.45rem;
        }
        .psw{
            display: flex;
            font-size:0.45rem;
            .iconfont{
                position: absolute;
                right:0;
            }
        }
    }
}