@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.wallet{
    .wallet-change{
        clear: both;
        text-align: right;
        i,span{
            font-size:24px;
            color:#ffe00f;
        }
    }
    .title{
        display: block;
        width:350px;
    }
    .time{
        display: block;
        width:180px;
        text-align: right;
    }
    .assets{
        height: auto;
        overflow: hidden;
        background:url('~assets/assetsbg.png') top center;
        background-size:100% 100%;
    }
    .wallet-assets{
        margin-top:10px;
        background:$font-white;
        border-radius: 60px 0 0 60px;
        text-align: center;
        color:$font-baseh2;
        width: 320px;
        padding:5px 0px 5px 20px;
        .assets-h1{
            color:$font-base;
            padding-bottom: 5px;
            border-bottom:0.01rem solid $font-base;
            font-size:20px;
        }
        .wallet_bdc{
            color:$font-base;
        }
    }
    .wallet-band{
        height: auto;
        overflow: hidden;
        padding-bottom: 30px;
        color:$font-white;
        position: relative;
        .wallet-band-l{
            padding-left: 20px;
            margin-top:100px;
            width:380px;
            white-space:normal;
            .wallet-band-tit{
                color:$font-empty;
                font-size:30px;
            }
            .wallet-band-bdc{
                line-height: 58px;
                .num{
                    font-size:28px;
                    color:$font-white;
                    font-weight: bold;
                }
            }
            .wallet-band-rmb{
                font-size:24px;
                color:#a2a6ab;
                text-overflow:nowrap;
            }
        }
        .changeassets{
            position: absolute;
            bottom: 20px;
            background: rgba(255,255,255,.2);
            border: 0.01rem solid #586474;
            border-radius: 4px;
            width: 170px;
            text-align: center;
            a{
                color:$font-white;
            }
        }
    }
    .btc-grid{
        height: auto;
        overflow: hidden;
        display:flex;
        align-items: center;
        justify-content:space-between;
        color:$font-baseh2;
        font-size:20px;
        .btc-grid-l{
            height: 100%;
        }
        .btc-grid-r{
            span{
                display: block;
                text-align: right;
            }
        }
        .btc-grid-bdc{
            color:$font-base;
            font-size:28px;
        }
    }
    .send{
        margin-top: 30px;
        display: flex;
        justify-content:space-between;
        .bts{
            width: 48%;
            .btn{
                i{
                    padding-right: 15px;
                }
                font-size:28px;
                color:#fff;
            }
        }
    }
    .vertical-center-modal{
        display: flex;
        align-items: center;
        justify-content: center;
        .ivu-modal{
            top: 0;
        }
    }
    .lock{
        margin-right: 10px;
    }
}
.table{
    width: 100%;
    text-align: center;
}
h2{
    text-align: center;
}