@charset "utf-8";
@import "./var";
a[disabled],
button[disabled]
{
    opacity: .6;
    cursor: not-allowed;
}
// 按钮基础样式
.btn
{
    min-width: 60px;
    padding: 7px 10px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    background: #5b6879;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    transition: opacity .2s;
    text-align: center;
    font-size:24px;
    &-xs{
        width: 1.7rem;
        height: 0.5rem;
        line-height: 0.5rem;
        padding: 0;
        display: block;
    }
    &-min{
        width: 2.7rem;
        height: 1rem;
        padding: 5px 10px;
        display: block;
    }
    // 圆角按钮
    &-round
    {
        border-radius: 10px;
    }

    // 大圆角按钮
    &-round-mx
    {
        border-radius: 44px;
    }

    // 宽度100%的按钮
    &-block
    {
        width: 100%;
        height: 80px;
        font-size:32px;
        display: block;
    }
    // 宽高自动按钮
    &-auto{
        width: auto;
        height: auto;
        padding: 10px;
        font-size:24px;
        //margin:20px  auto;
        display: block;
    }
    // 默认按钮样式
    &-default
    {
        &.outline
        {
            border: 1px solid #5b6879;
        }
    }
    &-disabled{
        background-color: $bg-disabled;
        color: #fff;
    }
    // 蓝色按钮样式
    &-primary
    {
        background-color: #66BEFF;
        color: #fff;
    
        &.outline
        {
            color: #fff;
            background-color: #66BEFF;
            border: 1px solid #66BEFF;
        }

        &:active
        {
            background: #66BEFF;
        }
    }

    // 绿色按钮样式
    &-success
    {
        background-color: #299e83;
        color: #fff;
    
        &.outline
        {
            color: #299e83;
            background-color: #fff;
            border: 1px solid #299e83;
        }

        &:active
        {
            background: #299e83;
        }
    }

    // 红色按钮样式
    &-error
    {
        background-color: #FF9595;
        color: $font-white;
    
        &.outline
        {
            color: #FF9595;
            background-color: #fff;
            border: 1px solid #FF9595;
        }

        &:active
        {
            background: #FF9595;
        }
    }
    // 深红色按钮样式
    &-red
    {
        background-color: #e83a37;
        color: $font-white;
    
        &.outline
        {
            color: #e83a37;
            background-color: #fff;
            border: 1px solid #e83a37;
        }

        &:active
        {
            background: #e83a37;
        }
    }
    // 取消按钮样式
    &-cancel
    {
        background-color: #b0b1b1;
        color: $font-white;
    
        &.outline
        {
            color: #b0b1b1;
            background-color: #fff;
            border: 1px solid #b0b1b1;
        }

        &:active
        {
            background: #b0b1b1;
        }
    }
    
}