@charset "utf-8";
@import "./var";
@import "./button";
[v-cloak] {
    display: none;
}
li{
    list-style:none;
}
.sicon {
    width: 1rem; 
    height: 1rem;
    vertical-align: -0.38rem;
    fill: currentColor;
    overflow: hidden;
}
input{
    border:none;
    min-height: 1rem !important;
    font-size:0.3rem !important;
}
.weui-label{
    font-size:0.4rem;
}
.label,.radio{
    height: 1rem;
    font-size:0.4rem;
    line-height: 1rem;
    display: block;
}
.ivu-radio-group{
    height:1rem;
    font-size:0.4rem;
}
.main-pd{
    padding: 20px 30px;
}
.main-pd h1,.main-container h1{
    color:$font-base;
}
.main-container{
    padding: 0.5rem 0.2rem;
}
.pd50{
    padding:0.666667rem;
}
.pd-lb20{
    padding-left:0.5rem;
    padding-right:0.5rem;
}
.mr100{
    margin-top:1rem;
}
.mr50 {
    margin-top:0.666667rem;
}
.mr40 {
    margin-top:0.533333rem;
}
.mr30 {
    margin-top:0.4rem;
}
.mr20 {
    margin-top:0.266667rem;
}
.mr10 {
    margin-top:0.133333rem;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.pb10{
    padding-bottom: 10px;
}

.line-b{
    border-bottom: 0.01rem solid $border-base;
}
.padding-footer{
    padding-bottom: 2rem;
}
/*工具类*/
.ellipsis1{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.ellipsis2{
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
}
.border-radius:before{
    z-index: -1;
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: #eee;
    transform-origin: 0 0; 
    transform: scale(.5,.5);
    border: 1px solid #000;
    border-radius: 10px;
}
.v-cell{
    padding: 10px 15px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.v-input{
    border-bottom: 1px solid $font-input-p;
}
.v-div{
    height:auto;
    overflow: hidden;
}
.v-flex{
    display: flex;
}
.v-flex-between{
    flex-flow:  row nowrap;
    justify-content: space-between;
}
/*重写部分*/
.vux-header{
    height: 1.3rem;
}
.vux-header .vux-header-left{
    height: 1.3rem;
}
.vux-header-back{
    font-size:0.4rem;
    line-height: 1rem;
}
.vux-header .vux-header-left .vux-header-back{
    padding-left: 0.5rem !important;
}
.vux-header .vux-header-left .left-arrow:before{
    width: 0.5rem !important;
    height: 0.5rem!important;
    top: 0.3rem!important;
    left: 0.093333rem;
}
.vux-header-title{
    height: 1.3rem !important;
}
.vux-header-title-area, .vux-header .vux-header-title{
    height: 1.3rem !important;
}
.vux-header .vux-header-title > span{
    font-size: 0.5rem;
    line-height: 1.2rem;
}
.weui-toast{
    top: 6.4rem !important;
}
.weui-toast__content{
    font-size:0.5rem !important;
    text-align: center;
}
/*flex*/
.flex-table{
    display: flex;
    justify-content: center;
}
.flex-row{
    flex:1;
}
.overwrite-title{
    display: flex;
    justify-content: center;
    width: 3.066667rem;
    height: 0.8rem;
    margin: 0 auto;
    margin-top: 0.2rem;
    border: 0.02rem solid $border-line;
    border-radius: 0.3rem;
    color:$font-white;
}
.overwrite-title-btn{
    width: 100%;
    flex:1;
    text-align: center;
    line-height: 0.8rem;
}
.overwrite-title-act{
    background:#eee;
    color:$font-base;
}
.overwrite-title-first{
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}
.overwrite-title-last{
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
/*排版*/
.grid-4{
    width:25%;
    float: left;
    padding-bottom: 10px;
}