@charset "utf-8";
@import "./var";
@import "./button";
[v-cloak] {
    display: none;
}
li{
    list-style:none;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
}
.full{
    height: 100%;
    width: 100%;
}
.sicon {
    width: 1rem; 
    height: 1rem;
    vertical-align: -0.38rem;
    fill: currentColor;
    overflow: hidden;
}
input{
    border:none;
    min-height: 1rem;
    font-size:0.426667rem;
}
.weui-search-bar{
    .weui-icon-search,.weui-search-bar__cancel-btn{
        line-height:0.7rem !important;
        font-size:0.35rem !important;
    }
    .weui-icon-clear{
        top:0.19rem !important;
    }
    input{
        min-height: 0.4rem !important;
        height: 0.6rem !important;
        line-height: 0.4rem !important;
        margin-left: 0.4rem !important;
        font-size:0.35rem !important;
    }
    .weui-search-bar__label{
        span{
            font-size:0.35rem;
        }
        
    }
}
*:focus { 
    outline: none;
}
::selection{background:transparent; }
::-moz-selection{background:transparent; }
.weui-label{
    font-size:0.45rem;
    width: 2.2rem !important;
}
.label,.radio{
    height: 1rem;
    font-size:0.4rem;
    line-height: 1rem;
    display: block;
}
.ivu-radio-group{
    height:1rem;
    font-size:0.45rem;
}
.ivu-radio-wrapper{
    span{
        font-size:0.45rem;
    }
}
.main-pd{
    padding: 20px 30px;
}
.main-pd h1,.main-container h1{
    color:$font-base;
}
.main-container{
    padding: 0.4rem 0.2rem;
}
.pd50{
    padding:0.666667rem;
}
.pd-lb20{
    padding-left:0.5rem;
    padding-right:0.5rem;
}
.mr100{
    margin-top:1rem;
}
.mr50 {
    margin-top:0.666667rem;
}
.mr40 {
    margin-top:0.533333rem;
}
.mr30 {
    margin-top:0.4rem;
}
.mr20 {
    margin-top:0.266667rem;
}
.mr10 {
    margin-top:0.133333rem;
}
.mr10 {
    margin-top:0.133333rem;
}
.mr5 {
    margin-top:0.066667rem;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.pb10{
    padding-bottom: 10px;
}

.line-b{
    border-bottom: 0.01rem solid $border-line;
}
.padding-footer{
    padding-bottom: 2rem;
}

/*工具类*/
.ellipsis1{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.ellipsis2{
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
}
.border-radius:before{
    z-index: -1;
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: #eee;
    transform-origin: 0 0; 
    transform: scale(.5,.5);
    border: 1px solid #000;
    border-radius: 10px;
}
.v-cell{
    padding: 10px 15px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.v-input{
    border-bottom: 1px solid $font-input-p;
}
.v-div{
    height:auto;
    overflow: hidden;
}
.v-flex{
    display: flex;
}
.v-flex-between{
    flex-flow:  row nowrap;
    justify-content: space-between;
}
// 虚线
.v-dottedline{
    border-bottom:1px dotted #dadbde;
}
/*重写部分*/
.vux-header{
    height: 1.3rem;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index:999;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.margin-header{
    padding-top:1.3rem;
}
.vux-header .vux-header-left{
    height: 1.3rem;
}
.vux-header-back{
    font-size:0.4rem;
    line-height: 1rem;
}
.vux-header .vux-header-left .vux-header-back{
    padding-left: 0.5rem !important;
}
.vux-header .vux-header-left .left-arrow:before{
    width: 0.5rem !important;
    height: 0.5rem!important;
    top: 0.3rem!important;
    left: 0.093333rem;
}
.vux-header-title{
    height: 1.3rem !important;
}
.vux-header-title-area, .vux-header .vux-header-title{
    height: 1.3rem !important;
}
.vux-header .vux-header-title > span{
    font-size: 0.5rem;
    line-height: 1.2rem;
}
.weui-toast{
    top: 6.4rem !important;
    width: 3.5rem !important;
    z-index: 999999;
}
.weui-toast__content{
    font-size:0.4rem !important;
    text-align: center;
}
.weui-cell_access .weui-cell__ft:after{
    height: 0.2rem !important;
    width: 0.2rem !important;
    border-color:$font-base  !important;
}
.weui-cells{
    margin-top:0 !important;
    &:before,&:after{
        display: none;
    }
}
.vux-x-input{
    border-bottom:0.01rem solid $border-line !important;
}
.weui-icon_toast.weui-loading{
    width: 1rem !important;
    height: 1rem !important;
}
.ivu-select-selection{
    height: 32px !important;
    input{
        min-height: 32px !important;
        line-height: 32px !important;
    }
}
.weui-cell{
    border-bottom:0.01rem solid $border-line;
    &:before,&:after{
        display: none;
    }
    &:last-child{
        border:none;
    }
}
.weui-input{
    font-size:0.44rem !important;
    color:$font-baseh2 !important;
}
.ivu-dropdown-rel{
    height: 100%;
}
.weui-toast.weui-toast_text{
    padding:0.2rem;
}
.gobuy{
    .weui-textarea,.weui-textarea-counter{
        font-size:16px !important;
    }
}
.otc{
    // OTC的专属横拉
    .vux-tab-container,.vux-tab{
        height: auto !important;
        background: transparent !important;
    }
    .vux-tab-item{
        background: transparent !important;
    }
    .vux-tab .vux-tab-item.vux-tab-selected{
        color: #f90 !important;
    }
    .scrollable .vux-tab-ink-bar{
        bottom: 0px !important;
    }
    // OTC的专属下拉菜单
    // .ivu-select-dropdown{
    //     width: 2.666667rem!important;
    //     left: 0.3rem !important;
    // }
    .ivu-dropdown-item{
        font-size: 0.373333!important;
        letter-spacing: 0.06933!important;
    }
    // 售卖币页面的专属下拉选择币种
    .hide-item{
        .ivu-select-dropdown{
            left: 102px !important;
        }
    }
}
/*flex*/
.flex-table{
    display: flex;
    justify-content: center;
}
.flex-row{
    flex:1;
}
.overwrite-title{
    display: flex;
    justify-content: center;
    width: 3.066667rem;
    height: 0.8rem;
    margin: 0 auto;
    margin-top: 0.2rem;
    border: 0.02rem solid $border-line;
    border-radius: 0.3rem;
    color:$font-white;
}
.overwrite-title-btn{
    width: 100%;
    flex:1;
    text-align: center;
    line-height: 0.8rem;
}
.overwrite-title-act{
    background:#eee;
    color:$font-base;
}
.overwrite-title-first{
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}
.overwrite-title-last{
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
/*排版*/
.grid-4{
    width:25%;
    float: left;
    padding-bottom: 10px;
}
.grid-3{
    width:33.33%;
    float: left;
    padding-bottom: 10px;
}
/*模态框字体*/
.modal-body{
    font-size:0.47rem;
    text-align: center;
}
.del{
    text-decoration:line-through;
}
.off{
    color:$font-red;
    font-weight: bold;
}
/* 安全码输入框 */
.security{
    .weui-cell__primary{
        background:rgba(121,121,121,.2);
        input{
            padding:14px;
        }
    }
}