@charset "utf-8";
@import "./var";
// span徽章基础样式
.tag{
    padding:5px 15px;
    color:#fff;
    background: #5b6879;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
    opacity: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    margin: 2px 4px 2px 0;
    &-primary{
        background: #2d8cf0;
    }
    &-success{
        background: #299e83;
    }
    &-error{
        background: #ed4014;
    }
    &-wran{
        background: #f56a00;
    }
    &-gray{
        background: #999999;
    }
}
.font{
    &-primary{
        color: #2d8cf0;
    }
    &-success{
        color: #299e83;
    }
    &-error{
        color: #ed4014;
    }
    &-wran{
        color: #ff9600;
    }
    &-gray{
        color: #999999;
    }
    &-gray{
        color: #999999;
    }
    &-violet{
        color: #7846d2;
    }
}