@charset "utf-8";
$color-base                         : #3c4451;
$color-active                       : rgb(82,195,175);
$color-select                       : rgb(255,133,24);
// font color
$font-base                          : #3a424f;
$font-baseh2                        : #a2a6ab;
$font-h2                            : #454e57;
$font-tips                          : #333333;
$font-black                         : #000000;
$font-white                         : #ffffff;
$font-grey                          : #8F8E94;
$font-blue                          : #2683e6;
$font-light-blue                    : #74C3FF;
$font-green                         : #61CC73;
$font-red                           : #ff4f4f;
$font-orange                        : #fea356;
$font-yellow                        : #ffb514;
$font-button                        : #555555;
$font-empty                         : #C7C7CD;
$font-light-grey                    : #999999;
$font-placeholder                   : #c8c8c8;
$font-link                          : #808ca2; 
$font-eee                           : #eeeeee;
$font-97                            : #979797;
$font-64                            : #646464;
$font-aaa                           : #aaaaaa;
$font-input-p                       : #ededed;
// border-color
$border-input                       : #ededed;
$border-line                        : #edf1f2;
$border-base                        : #d9d9d9;
// bg
$bg-white                           : #ffffff;
$bg-border                          : #C7C7CD;
$bg-disabled                        : #b3b7be;
// icon-bg
$icon-wechart                       : #1eb1ad;