@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.order{
    background: #f2f2f2;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    .pd10{
        padding:20px 40px;
        background: $bg-white;
    }
    &-line{
        border-bottom: 0.01rem solid $border-line;
        padding-bottom: 20px;
    }
    &-id{

    }
    &-info{
        
    }
    &-pay{
        font-size:28px;
        &-price{
            
        }
        &-total{
            
        }
        span{
            color:$font-red;
            font-weight: bold;
        }
    }
    &-tips{
        color: $font-red;
        font-size:26px;
    }
    &-btn{
        margin:0 auto;
        margin-top:20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        &-ot{
            width: 100%;
            padding:0 10px;
        }
    }
    &-payment{
        &-payment-info{
            font-size:26px;
        }
        &-list{
            .iconfont{
                font-size:80px;
                margin-left:15px;
                &:first-child{
                    margin-left:0;
                }
            }
        }
    }
    .alipay{
        color:#1296db;
    }
    .cardpay{
        color:#028BF4;
    }
    .wechart{
        color:#1eb1ad;
    }
    .popup{
        .pay-info{
            padding:20px 0;
            height: auto;
            overflow: hidden;
            background:#f2f2f2;
            .ercode{
                font-size:32px;
                min-height: 800px;
                text-align: center;
                .pay-img{
                    width: 400px;
                }
                .btn{
                    margin:0 auto;
                }
                .mr20{
                    margin-top:20px;
                }
            }
            &-div{
                width: 99%;
                margin:0 auto;
                background:$bg-white;
                border-radius: 20px;
                border: solid 1px #999999;
                padding: 40px;
                .pay-img{
                    display: block;
                    margin: 0 auto;
                    img{
                        width: 100%;
                    }
                }
                .name{
                    margin-top:20px;
                    text-align: center;
                    font-size:32px;
                }
                .btn-min{
                    margin: 20px auto 0 auto;
                }
            }
            .card{
                padding:0 30px;
                .iconfont{
                    font-size:70px;
                }
                .font{
                    font-size:20px;
                    display: flex;
                    flex: 1 1 2;
                    height: 60px;
                    line-height: 60px;
                    &-title{
                        width: 120px;
                    }
                    &-btn{
                        padding:10px 0;
                        margin-left:auto;
                    }
                }
                .btn-this{
                    margin:30px auto 0 auto;
                    background:#fff;
                    width: 400px;
                    height: 88px;
                    border-radius: 31.5px;
                    border: solid 0.02rem #999999;
                    color:$color-base;
                }
            }
            .padding-bottom{
                margin-bottom: 50px;
            }
        }
    }
}