@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
@import "../../base/spanTag";
.orderList{
    background: #f2f2f2f2;
    height: 100%;
    .pb20{
        padding:20px;
    }
    .search{
        position: relative;
        height: 70px;
        overflow: hidden;
        margin-top:20px;
    }
    .tab{
        height: 80px; 
        &-item{
            height: 79px;
            line-height: 79px;
            font-size:28px;
            flex: 0 0 20% !important;
        }
    } 
    .list{
        .list-profit{
            margin-top:0 !important;
            border-radius: 0 !important;
            position: relative;
            .tag{
                position: absolute;
                top:34px;
            }
        }
        .profit-bg{
            background:transparent !important;
        }
        .total-profit{
            padding-top:10px;
            font-size:34px;
            padding:10px 0;
            color:$font-orange;
            text-align: center;
            background:#fff;
        }
        .order-list-profit-title{
            font-size:20px !important;
        }
        .order-list-content{
            background:#fff;
            margin-top:20px;
            border-radius: 8px;
            padding:18px;
            .right{
                text-align: right;
            }
            .order-list-profit{
                margin-left: 0px !important;
            }
            .ml30{
                margin-left: 30px !important;
            }
            .order-list-info{
                margin-top:15px;
                text-align: left;
                .code{
                    color:$font-orange;
                }
                .total{
                    color:#333;
                    font-size:30px;
                }
                .buynum{
                    color:$font-red;
                    font-size:22px;
                }
                .price{
                    color:$font-orange;
                    font-size:22px;
                }
                .price-important{
                    font-size:28px;
                }
            }
            .grid-username{
                text-align: center;
            }
            .order-list-type{
                text-align: right;
                font-weight: bold;
                &-success{
                    color:$font-green;
                }
                &-close{
                    color:$font-light-grey;
                }
                &-wait{
                    color:$font-yellow;
                }
                &-waitpay{
                    color:$font-red;
                }
                &-get{
                    color:$icon-wechart;
                }
            }
        }
    }
    .right{
        font-size: 24px;
        line-height: 1rem;
    }
    .otc-item{
        margin-top:20px;
        background: #fff;
        border-radius: 8px;
        &:last-child{
            margin-bottom: 50px;
        }
        .otc-grid{
            padding: 30px 20px;
        }
        .otc-grid-title{
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            vertical-align:middle;
            .grid-info{
                height: 55px;
                line-height: 55px;
                color: #999;
            }
            .otc-grid-right{
                margin-top: 8px;
                text-align: right;
                color: #999;
                i{
                    font-size:18px;
                    line-height: 1;
                }
            }
        }
        .otc-grid-curreny{
            .grid-username{
                font-size:20px;
                text-align: center;
            }
            margin-right: 30px;
        }
        .otc-grid-price{
            flex: 3;
            position: relative;
            .price{
                color: $font-h2;
                font-size:30px;
                font-weight: bold;
            }
            .otc-price{
                font-size:22px;
                color:#666;
            }
            .sv{
                position: absolute;
                right: 0px;
                top:12px;
                color:$font-green;
                font-size:28px;
                font-weight: bold;
            }
            .c-primary{
                color:$font-yellow;
            }
            .c-all{
                color:$font-blue;
            }
        }
        .otc-grid-pay{
            flex: 1;
            .otc-grid-paylist{
                margin-top:10px;
                text-align: right;
            }
        }
    }
    .tag{
        width: 90px;
        height: 50px;
        border-radius: 8px;
        margin:0;
        font-size:22px;
    }
    .time{
        padding:10px 0;
        justify-content: space-between;
        background:#fff;
        .center{
            display: block !important;
            width: 300px;
            margin:0 auto;
        }
    }
}