@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
$height : 1.5rem;
.enterfrom{
    margin-top:20px;
    .sbank{
        padding: 0.133333rem 0.2rem;
        display: flex;
        .title{
            width: 3rem;
            font-size:0.45rem;
            line-height: 80px;
        }
        .cselect{
            margin-top:10px;
        }
    }
    .title-psw{
        width: 2.2rem;
        font-size:0.45rem;
        line-height: 80px;
    }
    .psw{
        margin-top:10px;
    }
}
.select{
    border: 0.02rem solid #dcdee2;
    background:#fff;
    border-radius: 5px;
    height: 1rem;
    font-size:30px;
}
.OTCSell{
    overflow: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    .title-tool{
        display: flex;
        justify-content: space-between;
        .price{
            font-size:28px;
            line-height: 65px;
            padding-right: 20px;
        }
    }
    .total{
        text-align: center;
        font-size:28px;
        color:$font-red;
        display: flex;
        justify-content: space-between;
        .text-right{
            width:50%;
            text-align: right;
        }
        .text-left{
            width:50%;
            text-align: left;
        }
    }
}
.select-pay{
    .iconfont {
        font-size:60px;
    }
    .alipay{
        color:#1296db;
    }
    .cardpay{
        color:#028BF4;
    }
    .wechart{
        color:#1eb1ad;
    }
}
.btn-block{
    height: 80px;
    font-size:38px;
}
.currency{
    display: flex;
    justify-content: space-between;
    // .sicon{
    //     width:150px;
    //     height: 150px;
    // }
    // .avatar{
    //     border-radius: 50%;
    // }
    // .line-height{
    //     line-height: 150px; 
    // }
    .font{
        font-size:28px;
        color: #028BF4;
    }
    .price,.fax{
        font-size:28px;
    }
    .fax{
        color:$font-red;
    }
    &-font{
        text-align: center;
    }
}
.selectbox{
    height: auto;
    min-height: 400px;
    padding-bottom: 200px;
    background: $bg-white;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    .radio{
        width: 100%;
        height: auto;
        overflow: hidden;
        .radio-lable{
            display: block;
            clear: both;
            height: $height;
            line-height: $height;
            border-bottom: 0.01rem solid $border-line;
            .cell{
                float: left;
                width: 90%;
                height: $height;
                line-height: $height;
                display: flex;
                padding: 0 40px 0 40px;
                justify-content: space-between;
                .text{
                    width: 180px;
                    text-align: center;
                }
            }
        }
        .bind{
            text-align: center;
            margin-top:150px;
            color: #028BF4;
        }
    }
}
.label-info{
    font-size:24px !important;
}
.order-payment-list{
    .iconfont{
        font-size:60px;
        margin-left:15px;
        &:first-child{
            margin-left:0;
        }
    }
}
.alipay{
    color:#1296db;
}
.cardpay{
    color:#028BF4;
}
.wechart{
    color:#1eb1ad;
}
.tips{
    line-height: 90px;
    color:$font-red;
    font-size:26px;
}
.pb{
    padding-bottom: 500px;
    margin:20px 20px;
}
.OTCSellBuy-drop{
    .btn{
        font-size: 28px;
    }
    .btn-min-x{
        border-radius: 12px;
        width: 200px;
        height: 48px;
        line-height: 38px;
    }
}
.popup{
    .pay-info{
        padding:20px 0;
        height: auto;
        overflow: hidden;
        .ercode{
            font-size:32px;
            min-height: 800px;
            text-align: center;
            .pay-img{
                width: 400px;
            }
            .btn{
                margin:0 auto;
            }
        }
        .card{
            padding:0 30px;
            .font{
                font-size:32px;
                display: flex;
                flex: 1 1 2;
                height: 60px;
                &-title{
                    width: 180px;
                }
                &-btn{
                    padding:10px 0;
                    // margin-left:18px;
                    margin-left:auto;
                }
            }
        }
        .padding-bottom{
            margin-bottom: 400px;
        }
    }
}