@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.sbank{
    padding: 0.133333rem 0.2rem;
    display: flex;
    position: relative;
    .title{
        width: 3rem;
        font-size:0.45rem;
    }
    .title-psw{
        width: 2.2rem;
        font-size:0.45rem;
    }
    .psw{
        display: flex;
        font-size:0.45rem;
        .iconfont{
            position: absolute;
            right:0;
        }
    }
}
.regist{
    h2{
        color:$font-h2;
        font-size:48px;
    }
    .tips{
        color: $font-link;
        font-size:30px;
    }
    .vux-x-input{
        height: 100px;
        font-size:28px;
    }
    .radioin{
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;
        .label{
            float: left;
            height: 100px;
            line-height: 100px;
            font-size:0.45rem;
            width: 2.4rem;
            padding-left:15px;
        }
        .radio{
            float: left;
            height: 100px;
            line-height: 85px;
            font-size:28px;
            margin-left: 5px;
        }
        .notecode{
            width: 190px;
        }
    }
}