@charset "utf-8";
@import "../../base/var";
@import "../../base/button";
.regist{
    h2{
        color:$font-h2;
        font-size:48px;
    }
    .tips{
        color: $font-link;
        font-size:30px;
    }
    .vux-x-input{
        height: 100px;
        font-size:28px;
    }
    .label{
        float: left;
        height: 100px;
        line-height: 100px;
        font-size:28px;
        width: 5em;
        padding-left:15px;
    }
    .radio{
        float: left;
        height: 100px;
        line-height: 100px;
        font-size:28px;
    }
}